@import './scss/normalize.scss';
@import './scss/vars_and_mixins.scss';
@import './scss/fonts.scss';


// заборонили scroll body при відкритому меню-бургер
body.lock {
    overflow: hidden;
}
.wrapper  {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
}
.main {
     flex: 1 0 auto
}
.header {
    min-height: 80px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    @include flex(space-between, center, row);
    &__left {
        @include flex(flex-start, center, row);
        margin-right: 15px;
        
    }
    &__logo {
        z-index: 2;
        margin-right: 104px;
        @media (max-width:992px) {
            margin-right: 50px;
        }
        @media (max-width:576px) {
            margin-right: 20px;
        }
    }
    &__right {
        @include flex(flex-end, center, row);
        @media (max-width:767px) {
            display: none;
        }
        
        &-counter {
            margin-right: 24px;
            @include font($font-regular, 16px, 19px, #000000); 
        }
        &-btn {
            height: 35px;
            border: 1px solid rgba(51, 51, 51, 0.64);
            border-radius: 12px;
            padding: 8px 16px;
            @include font($font-medium, 16px, 19px, #1F1E1E);
            background-color: inherit;
            @media (max-width:992px) {
                padding: 8px 10px;
            }
        }
    }
}
.menu__list {
    & li {
        @include font($font-regular, 16px, 19px, #000000); 
        display: inline;
        &:hover {
            text-shadow: 0px 3px 8px gray;
        }
        &:not(:last-child) {
            margin-right: 24px;
            @media (max-width:992px) {
                margin-right: 15px;
           }
           @media (max-width: 767px) {
            margin-bottom: 24px;
        }
        }
    }
}
.hero {
    @include flex(space-between, stretch, row);
    margin-top: 30px;
    @media (max-width:992px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width:576px) {
        
    }
    &__textblock {
        @include flex(flex-start, flex-start, column);
        max-width: 501px;
        @media (max-width:992px) {
            max-width: 100%;
        }
        &-main {
            flex: 1 0 auto;
        }
        &-subtitle {
            margin-bottom: 40px;
        }
        &-title {
            margin-bottom: 16px;
        }
        &-text {
            margin-bottom: 40px;
            max-width: 430px;
            @media (max-width:992px) {
                max-width: 100%;
            }
        }
        &-btn {
            @include flex(flex-start, center, row);
            margin-bottom: 64px;
            & button {
                margin-right: 24px;
            }
        }
        &-join {
            max-height: 32px;
            @include flex(flex-start, center, row);
            & img {
            background-color: #E8FF01;
            border: 2px solid #1F1E1E;
            border-radius: 32px;
           }
           &-img1 {
            margin-right: -8px;
            z-index: 2;
           } 
           &-img2 {
            margin-right: -8px;
            z-index: 1;
           } 
           &-img3 {
            margin-right: 8px;
            z-index: 0;
           } 
        }
        &-list {
            margin-bottom: 79px;
            @media (max-width:992px) {
                margin-bottom: 45px;
            }
            @media (max-width:576px) {
                margin-bottom: 30px;
            }
        }
    }
    &__img {
        & img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.subtitle {
    @include font($font-semiBold, 16px, 19px, #1F1E1E); 
    text-transform: uppercase; 
}
.title {
    @include font($font-ultraBold, 56px, 60px, #1F1E1E); 
    text-transform: uppercase; 
    //font-weight: 800;
    @media (max-width:992px) {
        font-size: 46px;
    } 
    @media (max-width:576px) {
        font-size: 36px;
    }
}
.text {
    @include font($font-regular, 24px, 35px, rgba(31, 30, 30, 0.64));
    @media (max-width:576px) {
        font-size: 18px;
    } 
}
.black-btn {
    @include font($font-semiBold, 16px, 19px, #E8FF01); 
    background: #333333;
    padding: 12px 16px;
    border-radius: 12px;
    border: none;
    @media (max-width:576px) {
        font-size: 14px;
        padding: 8px 12px;
    } 
}
.white-btn {
    @include font($font-semiBold, 16px, 19px, #000000); 
    background-color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid rgba(51, 51, 51, 1);
    @media (max-width:576px) {
        font-size: 14px;
        padding: 8px 12px;
    } 
}
.yellow-btn {
    @include font($font-semiBold, 16px, 19px, #333333); 
    background: #E8FF01;
    padding: 12px 16px;
    border-radius: 12px;
    border: none;
    @media (max-width:576px) {
        font-size: 14px;
        padding: 8px 12px;
    } 
}
.btn-title {
    @include font($font-medium, 16px, 19px, #1F1E1E);
}
.card {
    @include flex(flex-start, stretch, column);
    &-title {
        @include font($font-bold, 40px, 45px, #000000);
        @media (max-width:992px) {
            font-size: 32px;
        } 
        @media (max-width:576px) {
            font-size: 28px;
        } 
    }
    &-text {
        @include font($font-regular, 16px, 24px, rgba(31, 30, 30, 0.64)); 
        @media (max-width:576px) {
            font-size: 14px;
        } 
    }
}
.list {
    @include flex(flex-start, flex-start, row);
    &-item {
        position: relative;
        padding-left: 14px;
        @include font($font-regular, 16px, 19px,#000000); 
        &:not(:last-child) {
            margin-right: 24px;
        }
        @media (max-width:576px) {
            align-items: flex-start;
            font-size: 14px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #ECFF4C;
            border: 1px solid #333333;
            border-radius: 6px;
        }
    }
}
.best-deal {
    @include flex(flex-start, center, column);
    gap: 24px;
    @media (max-width:992px) {
        margin-top: -30px;
   }
    &__content {
        @include flex(flex-start, center, column);
        max-width: 848px;
        text-align: center;
    }
    &-subtitle {
        margin: 51px auto 40px;
    }
    &-title {
        max-width: 607px;
        margin-bottom: 16px;
    }
    &-text {
        margin-bottom: 56px;
    }
    &__infoblock {
        @include flex(flex-start, center, row);
        gap: 24px;
        @media (max-width:576px) {
            flex-wrap: wrap;
            gap: 35px;
       }
       &__card {
        background: #F5F6F8;
        max-width: 540px;
        border-radius: 24px;
        padding: 0 32px 32px;
        &-imgblock {
            @include flex(center, center, row);
            & img {
                width: 90%;
                margin-top: -15%;
            }
        }
        &-title {
            max-width: 362px;
            margin-bottom: 14px;
        }
       }
    }
    &__banner {
        background: linear-gradient(108.8deg, #333333 37.3%, #212121 86.65%);
        border-radius: 24px;
        @include flex(space-between, stretch, row);
        width: 100%;
        margin-bottom: 61px;
        @media (max-width:768px) {
            flex-wrap: wrap;
            margin-bottom: 10px;
       }
        &-main {
            @include flex(flex-start, flex-start, column);
            padding: 32px 19px 32px 32px;
            @media (max-width:768px) {
                padding: 32px;
           }
        }
        &-content {
            flex: 1 0 auto;
        }
        &-title {
            color: #FFFFFF;
            margin-bottom: 16px;
            max-width: 362px;
            @media (max-width:768px) {
                max-width: 100%;;
           }
        }
        &-text {
            color: #FFFFFFCC;
            margin-bottom: 40px;
            max-width: 476px;
            @media (max-width:768px) {
                max-width: 100%;;
           }
        }
        &-start {
            color: #FFFFFF;
            margin-left: 24px;
        }
        &-img {
            align-self: center;
            margin: 0 auto;
            & img {
                width: 100%;
                object-fit:cover;
                object-position: center;
            }
        }
    }
}
.steps {
    @include flex(flex-start, center, column);
    &__content {
        @include flex(flex-start, center, column);
        max-width: 848px;
        text-align: center;
    }
    &-subtitle {
        margin: 107px auto 40px;
        @media (max-width:992px) {
            margin: 70px auto 40px;
       }
       @media (max-width:576px) {
        margin: 50px auto 30px;
   }
    }
    &-title {
        max-width: 783px;
        margin-bottom: 16px;
    }
    &-text {
        margin-bottom: 56px;
    }
    &__container {
        @include flex(flex-start, center, column);
        gap: 32px;
        @media (max-width:992px) {
            gap: 20px;
       }
    }
    &__step {
        @include flex(space-between, center, row);
        gap: 56px;
        @media (max-width:992px) {
            gap: 30px;
       }
       @media (max-width:576px) {
        @include flex(space-between, center, column);
   }
    }
    &__info {
        width: 100%;
        margin: 48px auto 0;
        @include flex(flex-start, stretch, column);
    }
    &_btn {
        & button {
            width: 100%;
            margin-bottom: 16px;
        }
        &-list {
            margin-bottom: 32px;
        }
    }
    &__media {
        @include flex(center, center, column);
        &-title {
            display: inline-block;
            @include font($font-medium, 16px, 19px, #000000); 
            text-align: center;
            position: relative;
            margin-bottom: 16px;
            &::before {
                content: '';
                width: 472px;
                height: 1px;
                display: inline-block;
                position: absolute;
                top: 9px;
                left: -488px;
                background-color: #D9D9D9;
            }
            &::after {
                content: '';
                width: 472px;
                height: 1px;
                display: inline-block;
                position: absolute;
                top: 9px;
                left: 144px;
                background-color: #D9D9D9;
            }
        }
        &-links {
            & span {
                @include font($font-regular, 16px, 19px, #000000);
                &:not(:last-child) {
                    margin-right: 48px;
                }
            }
        }
        &-insta {
            position: relative; 
            &::before {
                content: '';
                width: 20px;
                height: 20px;
                background: url('./img/insta.png') no-repeat center;
                position: absolute;
                left: -24px;
                top: 0px;
                display: inline-block;
            }
        }
        &-fb {
            position: relative; 
            &::before {
                content: '';
                width: 20px;
                height: 20px;
                background: url('./img/fb.png') no-repeat center;
                position: absolute;
                left: -24px;
                top: 0px;
                display: inline-block;
            }
        }
        &-teleg {
            position: relative; 
            &::before {
                content: '';
                width: 20px;
                height: 20px;
                background: url('./img/teleg.png') no-repeat center;
                position: absolute;
                left: -24px;
                top: 0px;
                display: inline-block;
            }
        }
    }
}
.step {
    @media (max-width:576px) {
        border: 1px solid #D9D9D9;
        border-radius: 15px;
        padding: 15px;
   }
    &__img {
        flex: 1 1 42.8%;
        &-main {
            width: 100%;
        }
    }
    &__number {
        @media (max-width:576px) {
            display: none;
       }
        & span {
            display: inline-block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border: 2px solid #000000;
            border-radius: 48px;
            background-color: #E8FF01;
            position: relative;
            &::before {
                content: '';
                width: 1px;
                height: 105.5px;
                display: inline-block;
                position: absolute;
                top: -129.5px;
                left: 23.5px;
                background-color: #D9D9D9;
            }
            &::after {
                content: '';
                width: 1px;
                height: 105.5px;
                display: inline-block;
                position: absolute;
                top: 72px;
                left: 23.5px;
                background-color: #D9D9D9;
            }
        }
    }
    &__content {
        flex: 1 1 42.8%;
        &-title {
            margin-bottom: 16px;
        }
    }
}
.slider {
    margin-top: 158px;
    @media (max-width:768px) {
        margin-top: 100px;
   }
   @media (max-width:576px) {
    margin-top: 70px;
}
    &__header {
        margin-bottom: 56px;
        @include flex(stretch, center, row);
        @media (max-width:576px) {
            @include flex(stretch, center, column);
            margin-bottom: 20px;
        }
        &-text {
            flex-basis: 75%;
        }
        &-count {
            flex-basis: 25%;
            align-self: flex-end;
            @include flex(flex-end, flex-end, column);
            &-page {
                @include font($font-regular, 16px, 24px, rgba(31, 30, 30, 0.48));
                & span.active-page {
                    @include font($font-medium, 25px, 35px, #1F1E1E);
                }
                margin-bottom: 16px;
            }
            &-btn {
                width: 48px;
                    height: 48px;
                    background: #FFFFFF;
                    border: 1.2px solid rgba(0, 0, 0, 0.08);
                    border-radius: 48px;
            }
        }
    }
    &__title {
        margin: 0 auto 16px;
    }
}
.item {
    background: #F5F6F8;
    border-radius: 24px;
    @include flex(flex-start, stretch, row);
    @media (max-width:576px) {
        @include flex(flex-start, stretch, column);
    }
    &__content {
        padding: 32px 0 31px 32px;
        width: 55%;
        @include flex(flex-start, flex-start, column);
        @media (max-width:576px) {
            width: 100%;
        }
        &__main {
            flex: 1 0 auto;
        }
        &__title {
            margin-bottom: 16px;
        }
        &__text {
            width: 72%;
            @media (max-width:576px) {
                width: 100%;
            }
        }
        &__autor {
            @include flex(flex-start, center, row);
            &-img {
                width: 48px;
                height: 48px;
                border-radius: 48px;
                border: 3px solid #1F1E1E;
                background: #E8FF01;
                margin-right: 12px;
            }
            &-info {
                @include flex(flex-start, flex-start, column);
            }
            &-name {
                @include font($font-semiBold, 16px, 24px, #1F1E1E);
            }
            &-prof {
                @include font($font-regular, 16px, 24px,  #1F1E1EA3);
            }
        }
    }
    &__img {
        align-self: center;
        max-width: 45%;
    }
}
.owl-nav {
   // display: none; // приховати дефолтні кнопки слайдера 
}
.questions {
    &__content {
        @include flex(flex-start, center, column);
        text-align: center;
        margin: 168px auto 56px;
        @media (max-width:768px) {
            margin: 90px;
       }
        @media (max-width:576px) {
            margin: 50px;
        }
    }
    &-title {
        margin: 40px auto 16px;
    }
    &__block {
        @include flex(space-between, flex-start, row);
        @media (max-width:992px) {
            flex-direction: column;
        }
    }
    &__img {
        flex: 0 1 50%;
        position: relative;
        min-height: 652px;
        z-index: 1;
        width: 100%;
        @include flex(flex-end, center, row);
       @media (max-width:992px) {
        //justify-content: center; якщо треба буде відображати картинку
        display: none;
        }
        @media (max-width:576px) {
            display: none;
        }
        & img {
            object-fit: fill;
            object-position: center;
            position: absolute;
            top: -40px;
            right: -70px;
            @media (max-width:1100px) {
                position: relative;
                top: 0px;
                right: 0px;
                width: 100%;
                margin-left: -60px;
           }
        }
    }
    &__banner {
        background: linear-gradient(108.8deg, #333333 37.3%, #212121 86.65%);
        border-radius: 24px;
        @include flex(stretch, stretch, row);
        gap: 60px;
        width: 100%;
        margin-top: 56px;
        padding: 32px;
        @media (max-width:768px) {
            flex-wrap: wrap;
            justify-content: center;
       }
        &-main {
            @include flex(flex-start, flex-start, column);
            
        }
        &-content {
            flex: 1 0 auto;
        }
        &-title {
            color: #FFFFFF;
            margin-bottom: 16px;
            max-width: 498px;
        }
        &-text {
            color: #FFFFFFCC;
            margin-bottom: 40px;
            max-width: 498px;
        }
        &-list li {
            color: #FFFFFFCC;
            margin-bottom: 16px
        }
        &-form {
            width: 460px;
            flex: 0 1 auto;
            & form {
                max-width: 460px;
                @include flex(stretch, stretch, column);
                 gap: 16px;
                & input, select, textarea {
                background-color: rgba(255, 255, 255, 0.12);
                padding: 16px;
                border-radius: 12px;
                border: none;
                //прибрати бордер у активного інпута
                // &:focus { 
                //     outline: none;
                // }
                &::placeholder {
                    @include font($font-regular, 16px, 19px,  #FFFFFF);
                }
                }
                & button {
                    border: 1px solid #E8FF01;
                }
            }
            &-nameblock {
                display: grid;
                grid-template-columns: 48% 48%;
                gap: 4%;
            }
        }
    }
}
.select {
    position: relative;
    & select {
        @include font($font-regular, 16px, 19px,  #FFFFFF);
        border: none;
        width: 100%;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
    &::after {
        position: absolute;
        content: "";
        top: 21.5px;
        right: 21.5px;
        width: 8px;
        height: 12px;
        background: url('./img/select_arrow.png') no-repeat center;
    }
}
.accordion {
    flex: 1 0 50%;
    position: relative;
    z-index: 2;
    &__item {
        margin: 0 auto;
    }
    &__title {
        position: relative;
        display: block;
        @include font($font-bold, 32px, 36px, #000000); 
        cursor: pointer;
        padding: 32px 40px 32px 0;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #D9D9D9;
            position: absolute;
            bottom: 0;
            left: 0;
        }
      &-text {
        display: block;
        max-width: 480px;
        @media (max-width:992px) {
            max-width: 90%;
        }
      }
    }
    &__arrow {
        position: absolute;
        top: 0px; 
        right: 0;
        display: inline-block;
        vertical-align: middle;
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    &__rotate {
        transform: rotate(180deg);
    }
    &__content {
        @include font($font-regular, 16px, 24px, #1F1E1E); 
        margin: 0 48px 32px 0;
        display: none;
        }
}
.footer {
    min-height: 115px;
    margin: 0 auto;
    overflow: hidden;
    @include flex(space-between, center, row);
    &__left {
        @include flex(flex-start, center, row); 
        
    }
    &__logo {
        z-index: 2;
        margin-right: 104px;
        @media (max-width:992px) {
            margin-right: 50px;
        }
        @media (max-width:576px) {
            margin-right: 20px;
        }
    }
    &__right {
        @include flex(flex-end, center, row);
        @media (max-width:767px) {
            display: none;
        }
        &-counter {
            margin-right: 24px;
            @include font($font-regular, 16px, 19px, #000000); 
        }
        &-btn {
            height: 35px;
            border: 1px solid rgba(51, 51, 51, 0.64);
            border-radius: 12px;
            padding: 8px 16px;
            @include font($font-medium, 16px, 19px, #1F1E1E);
            background-color: inherit;
            @media (max-width:992px) {
                padding: 8px 10px;
            }
        }
    }
}
.course__banner {
    max-width: 1280px;
    overflow: visible;
    @include flex(center, center, row);
    position: relative;
    &-main {
        max-width: 737px;
        @include flex(center, center, column);
        padding: 0;
        @media (max-width:740px) {
            padding: 0 15px;
        }
    }
    &-title {
        margin: 68px auto 16px;
        text-align: center;
    }
    &-text {
        max-width: 548px;
        margin-bottom: 40px;
    }
    &-btn {
        @include flex(flex-start, center, row);
        gap: 16px;
        @media (max-width:576px) {
            @include flex(flex-start, center, column);
        }
        & button {
            @media (max-width:576px) {
                margin: 0;
            } 
        }
       }
    &-vector1 {
        position: absolute;
        top: 5%;
        left: 0;
        @media(max-width: 996px){
            display: none;
        }
    }
    &-vector2 {
        position: absolute;
        top: 5%;
        right: 0;
        @media(max-width: 996px){
            display: none;
        }
    }
}
.video {
    max-width: 1280px;
    min-height: 515px;
    background-color: #EFF2F6;
    position: relative;
    @media(max-width: 992px){
        min-height: 450px;
    }
    @media(max-width: 576px){
        min-height: 300px;
    }
    &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
    }
}
.prices {
    @include flex(flex-start, center, column);
    gap: 24px;
    &__content {
        @include flex(center, center, column);
        max-width: 983px;
        text-align: center;
        margin: 0 auto;
    }
    &-subtitle {
        margin: 168px auto 40px;
        @media(max-width: 992px){
            margin: 80px auto 40px;
        }
        @media(max-width: 576px){
            margin: 50px auto 30px;
        }
    }
    &-title {
        max-width: 716px;
        margin-bottom: 16px;
    }
    &-text {
        margin-bottom: 56px;
        @media(max-width: 992px){
            margin-bottom: 36px;
        }
        @media(max-width: 576px){
            margin-bottom: 26px;
        }
    }
    &__infoblock {
        @include flex(flex-start, center, row);
        gap: 24px;
        margin-bottom: 22px;
        @media (max-width:992px) {
            flex-wrap: wrap;
            justify-content: center;
       }
       &__card {
        box-shadow: 0px 4px 18px 0px #0000000F;
        //max-width: 353px;
        border-radius: 24px;
        padding: 32px;
        @include font($font-regular, 16px, 24px, #1F1E1E);
        transition: all 0.1s ease-in;
        &:hover {
            background: linear-gradient(125.46deg, #333333 29.2%, #212121 70.8%);
            color: #FFFFFF;
            .prices__infoblock__card-list li{
                    &::before {
                        background: url('./img/Vector\ \(1\).png') no-repeat center;
                    }
            }
            .black-btn {
                background-color: #FFFFFF;
                color: #000000;
            }
        }
        &-body {
            @include flex(flex-start, center, column);
            text-align: center;
        }
        &-subtitle {
            margin-bottom: 12px;
            @include font($font-semiBold, 16px, 19px, inherit);
        }
        &-title {
            @include font($font-bold, 40px, 44px, inherit);
            @media(max-width: 992px){
                font-size: 36px;
            }
            @media(max-width: 576px){
                font-size: 28px;
            }
        }
        &-text {
            opacity: 0.64;
            margin-bottom: 32px;
            @media(max-width: 576px){
                margin-bottom: 24px;
            }
        }
        &-price {
            margin-bottom: 24px;
            @media(max-width: 576px){
                margin-bottom: 16px;
            }
            &-bold {
                @include font($font-bold, 32px, 36px, inherit);
                @media(max-width: 992px){
                    font-size: 28px;
                }
                @media(max-width: 576px){
                    font-size: 26px;
                }
            } 
            &-mo {
                opacity: 0.64;
            } 
        }
        &-list {
            @include font($font-medium, 16px, 24px, inherit);
            text-align: left;
            margin-bottom: 32px;
            & li{
                position: relative;
                padding-left: 25px;
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url('./img/dashicons_yes-alt.png') no-repeat center;
                }
                &:not(:last-of-type) {
                    margin-bottom: 14px;
                }
            }
        }
        &-btn button {
            width: 100%;
        }
       }
    }
    &__banner {
        background: #F5F6F8;
        border-radius: 24px;
        @include flex(space-between, stretch, row);
        width: 100%;
        margin-bottom: 61px;
        max-height: 295px;
        @media (max-width:992px) {
            max-height: 100%;
       }
        &-main {
            @include flex(flex-start, flex-start, column);
            padding: 32px 19px 32px 32px;
            max-width: 498px;
            @media (max-width:992px) {
                padding: 32px;
                max-width: 100%;
           }
        }
        &-title {
            color: #000000;
            margin-bottom: 16px;
            width: 498px;
            @media (max-width:992px) {
                width: 100%;;
           }
        }
        &-text {
            color: #1F1E1EA3;
            margin-bottom: 40px;
            width: 466px;
            @media (max-width:992px) {
                width: 100%;
                margin-bottom: 0;
           }
        }
        &-img {
            align-self: center;
            margin: 0 auto;
            @media (max-width:992px) {
                display: none;
                flex: 0 1 auto;
           }
            & img {
                object-fit:cover;
                object-position: center;
                position: relative;
                right: -35px;
                @media (max-width:1150px) {
                    right: 0;
                    width: 100%;
               }
            }
        }
        &-after {
            position: relative;
            width: 100%;
            height: 50px;
            z-index: -1;
            &::after {
                content: '';
                width: 99.9%;
                height: 100%;
                position: absolute;
                top: -143px;// 28px
                left: 0;
                border-radius: 24px;
                background: url('./img/Group\ 14.png') no-repeat center;
            }
        }
    }
}
.skills {
    @media (max-width:992px) {
        margin-top: -70px;
   }
    &__content {
        @include flex(center, center, column);
        max-width: 983px;
        text-align: center;
        margin: 0 auto;
    }
    &-title {
        max-width: 723px;
        margin-bottom: 16px;
    }
    &-text {
        margin-bottom: 44px;
    }
    &-arrow {
        position: relative;
        width: 81%;
        @media (max-width:1100px) {
            display: none;
       }
        &-img {
            width: 100%;
            height: 118px;
            position: absolute;
            top:-80px;
            left: 0;
        }
    }
    &__infoblock {
        @include flex(space-between, center, row);
        margin-top: 32px;
        gap: 15px;
        @media (max-width:745px) {
            justify-content: center;
            flex-wrap: wrap;
       }
       &__card {
        max-width: 276px;
        &-body {
            @include flex(center, center, column);
            text-align: center;
        }
        &-title {
            margin: 16px auto 8px;
            @include font($font-bold, 40px, 44px, #000000);
        }
        &-text {
            @include font($font-regular, 16px, 24px,  #1F1E1EA3);
        }
       }
    }
}
.circle {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 48px;
    background-color: #E8FF01;
    position: relative;
    @include font($font-regular, 20px, 29px,  #000000);
    @include flex(center, center, row);
}
.content {
    @include flex(flex-start, center, column);
    margin-top: 168px;
    margin-bottom: 61px;
    @media(max-width: 992px){
        margin: 80px auto 40px;
    }
    @media(max-width: 576px){
        margin: 50px auto 30px;
    }
    &__content {
        @include flex(center, flex-start, column);
        max-width: 983px;
        margin: 0 auto 56px;
    }
    &-title {
        max-width: 716px;
        margin-bottom: 16px;
    }
    &__banner {
        background: #F5F6F8;
        border-radius: 24px;
        @include flex(flex-start, stretch, column);
        width: 100%;
        padding: 32px;
        z-index: 4;
        &-main {
            @include flex(space-between, flex-start, row);
            width: 100%;
            @media (max-width:576px) {
                @include flex(flex-start, flex-end, column);
           }
        }
        &-content {
            flex: 1 0 69%;
            @media (max-width:576px) {
                order: 2;
           }
        }
        &-title {
            color: #000000;
            margin-bottom: 16px;
            max-width: 768px;
            @media (max-width:768px) {
               max-width: 100%;;
           }
        }
        &-text {
            color: #1F1E1EA3;
            margin-bottom: 40px;
            max-width: 485px;
            @media (max-width:768px) {
                max-width: 100%;;
           }
        }
        &__autor {
            flex: 0 1 31%;
            min-width: 130px;
            @include flex(flex-end, center, row);
            @media (max-width:768px) {
                @include flex(flex-start, flex-end, column);
           }
            &-img {
                width: 48px;
                height: 48px;
                border-radius: 48px;
                border: 3px solid #1F1E1E;
                background: #E8FF01;
                margin-left: 12px;
            }
            &-info {
                @include flex(flex-start, flex-start, column);
                @media (max-width:768px) {
                    @include flex(flex-start, flex-end, column);
               }
            }
            &-name {
                @include font($font-semiBold, 16px, 24px, #1F1E1E);
            }
            &-prof {
                @include font($font-regular, 16px, 24px,  #1F1E1EA3);
            }
        }
        &-listbox {
            @include flex(center, flex-start, row);
            gap: 3%;

            @media (max-width:992px) {
                flex-wrap: wrap;
           }
        }
        &-item {
            @include flex(space-between, center, column);
            padding-left: 32px;
            @media (max-width:992px) {
                margin-top: 16px;
           }
            &-title {
                @include font($font-medium, 16px, 24px,  #1F1E1E);
                position: relative;
                margin-bottom: 16px;
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: -28px;
                    background: url('./img/dashicons_yes-alt.png') no-repeat center;
                }
            }
            &-list li {
                @include font($font-regular, 16px, 24px,  #1F1E1EA3);
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    position: absolute;
                    top: 10px;
                    left: -20px;
                    background: #1F1E1EA3;
                }
            }
        }
        &-img {
            position: relative;
            @media (max-width:992px) {
                display: none;
           }
            & img {
                position: absolute;
                top: -290px;
                right: 155px;
            }
        }
    }
}
.banner-after {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: -1;
    &::after {
        content: '';
        width: 99.9%;
        height: 100%;
        position: absolute;
        bottom: 78px;// 28px
        left: 0;
        border-radius: 24px;
        background: url('./img/Group\ 14.png') no-repeat center;
    }
}
.course__form {
    max-width: 1280px;
    overflow: visible;
    @include flex(center, center, row);
    position: relative;
    margin-bottom: 24px;
    @media (max-width:992px) {
        margin-top: -70px;
   }
    &-main {
        max-width: 819px;
        @include flex(center, center, column);
        text-align: center;
    }
    &-title {
        margin:40px auto 16px;
    }
    &-text {
        max-width: 548px;
        margin-bottom: 56px;
    }
    &-vector1 {
        position: absolute;
        top: -70px;
        left: -20px;
        @media(max-width: 996px){
            display: none;
        }
    }
    &-vector2 {
        position: absolute;
        top: 50px;
        right: 0;
        @media(max-width: 996px){
            display: none;
        }
    }

    &-body {
        min-width: 460px;
        @media(max-width: 480px){
            min-width: 0;
        }
        & form {
            width: 100%;
            @include flex(stretch, stretch, column);
            gap: 16px;
            & input {
            background-color: #EFEFEF;
            padding: 16px;
            border-radius: 12px;
            border: none;
            &::placeholder {
                @include font($font-regular, 16px, 19px,  #333333);
            }
            }
        }
    }
}
.course__select {
    position: relative;
    & select {
        background-color: #EFEFEF;
        padding: 16px 45px 16px 16px;
        border-radius: 12px;
        @include font($font-regular, 16px, 19px,  #333333);
        border: none;
        width: 100%;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
    &::after {
        position: absolute;
        content: "";
        top: 21.5px;
        right: 21.5px;
        width: 8px;
        height: 12px;
        background: url('./img/select_icon.png') no-repeat center;
    }
}
.goods {
    &__banner {
        @include flex(center, center, column);
        &-main {
            max-width: 737px;
            @include flex(center, center, column);
        }
        &-title {
            margin: 88px auto 16px;
            text-align: center;
        }
        &-text {
            max-width: 683px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &__container {
        @include flex(stretch, stretch, column);
        margin-top: 64px;
        gap: 32px;
        @media (max-width:992px) {
            gap: 20px;
        }

    }
    &__good {
        min-height: 287px;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.06);
        border-radius: 24px;
        @include flex(flex-start, flex-start, row);
        @media (max-width:576px) {
        @include flex(space-between, center, column);
        }
    }
}
.good {
    &__content {
        flex: 1 1 50%;
        padding: 32px;
        &-subtitle {
            margin-bottom: 40px;
        }
        &-title {
            margin-bottom: 4px;
        }
        &-text {
            max-width: 300px;
            margin-bottom: 24px;
       }
       &-btn {
        @include flex(flex-start, flex-start, row);
        gap: 16px;
        @media (max-width:992px) {
           @include flex(flex-start, flex-start, column);
        }
        @media (max-width:576px) {
            @include flex(flex-start, flex-start, row);
        }
       }
    }
    &__img {
        flex: 1 1 50%;
        align-self: center;
        @include flex(center, center, row);
        min-height: 287px;
        width: 100%;
        background: #EFF2F6;
        border-radius:  24px;
        @media (max-width:576px) {
            min-height: 200px;
        }
        &-main {
            max-width:100%;
            min-height: 100px;
            height: 100%;
            object-fit:cover;
            object-position: center
        }
    }
}
.blog {
    margin-bottom: 40px;
    &__banner {
        @include flex(center, center, column);
        &-title {
            margin: 88px auto 56px;
            text-align: center;
        }
    }
    &__container {
        @include flex(stretch, stretch, row);
        flex-wrap: wrap;
        gap: 24px;
    }
    &__post {
        flex: 1 1 31%;
    }
}
.post {
    border-radius: 24px;
    //@include flex(flex-start, flex-start, column);
    gap: 32px;
    min-width: 300px;
    &__content {
        padding: 32px 5px 8px 5px;
        border-radius: 24px;
        &-subtitle {
            margin-bottom: 40px;
        }
        &-title {
            margin-bottom: 4px;
            @include font($font-bold, 32px, 36px, #000000); 
        }
        
    }
    &__img {
        align-self: center;
        @include flex(center, center, row);
        min-height: 208px;
        background: #EFF2F6;
        border-radius:  24px;
        &-main {
            max-width:100%;
            min-height: 100px;
            height: 100%;
            object-fit:cover;
            object-position: center
        }
    }
}
.details {
    &__main {
    min-height: 494px;
    margin: 40px auto 72px;
    @include flex(flex-start, flex-start, row);
    gap: 82px;
    @media (max-width:992px) {
        gap: 40px;
    }
    @media (max-width:768px) {
        @include flex(space-between, center, column);
    }
    &__content {
        flex: 1 1 50%;
        margin-top: 33px;
        &-back {
            margin-bottom: 56px;
            @include flex(flex-start, center, row);
            & span {
                @include font($font-interBold, 16px, 20px, #333333);
                margin-left: 16px;
            }
        }
        &-subtitle {
            margin-bottom: 40px;
        }
        &-title {
            margin-bottom: 16px;
        }
        &-text {
            max-width: 300px;
            margin-bottom: 24px;
            @media (max-width:768px) {
                max-width: 100%;
            }
       }
    }
    &__img {
        flex: 1 1 50%;
        align-self: center;
        @include flex(center, center, row);
        min-height: 494px;
        background: #EFF2F6;
        @media (max-width:768px) {
            min-height: 400px;
            width: 100%;
        }
        @media (max-width:576px) {
            min-height: 300px;
        }
        &-main {
            max-width:100%;
            min-height: 100px;
            //eight: 100%;
            object-fit:cover;
            object-position: center
        }
    }
}
}
.details__description {
    &-para {
        @include font($font-regular, 18px, 29px, #1F1E1E);
        margin-bottom: 32px;
    }
    &-bold {
        @include font($font-semiBold, 18px, 29px, #1F1E1E);
    }
    & h2 {
        margin: 24px auto 32px;
        @include font($font-bold, 32px, 36px, #000000);
    }
    & ul {
        margin-bottom: 56px;
        & li {
            position: relative;
            padding-left: 20px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                display: inline-block;
                width: 6px;
                height: 6px;
                background: #1F1E1E;
                border: 1px solid #1F1E1E;
                border-radius: 6px;
            }
        }
    }
    &__container {
        margin: 56px auto;
    }
}
.details-post {
    &__content {
        max-width: 626px;
        &-title {
            margin:24px auto 8px;
            @include font($font-bold, 32px, 36px, #000000); 
        } 
    }
    &__img {
        align-self: center;
        @include flex(center, center, row);
        min-height: 494px;
        background: #EFF2F6;
        @media (max-width:768px) {
            min-height: 400px;
            width: 100%;
        }
        @media (max-width:576px) {
            min-height: 300px;
        }
        &-main {
            max-width:100%;
            min-height: 100px;
            height: 100%;
            object-fit:cover;
            object-position: center
        }
    }
}


    
    